h1 {
    text-align: center;
}

ol {
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}

li {
    clear: both;
}

/* 第一題 */
.wrap1 {
    height: 100px;
    width: 100%;
    background-color: #999;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.wrap1 .box {
    background-color: #fff;
    border: solid 1px #999;
    width: 50px;
    height: 20px;
    text-align: center;
}

/* 第二題 */
.wrap2 {
    background-color: #999;
    color: #ffffff;
    width: 100%;
    display: flex;
    flex-direction: row;

}

.wrap2 .box1 {
    width: 100px;
    height: 100px;
    background-color: red;
}

.wrap2 .box2 {
    background-color: blue;
    width: 100%;
    flex: 1;
}

/* 第三題 */
.wrap3 {
    background-color: #999;
    color: #ffffff;
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
}

.responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

/* 第四題 */
.wrap4 {
    background-color: #999;
    color: #ffffff;
    width: 100%;
    display: flow-root;
}

.wrap4 .box1 {
    float: left;
    width: 100px;
    height: 50px;
    background-color: red;
}

.wrap4 .box2 {
    float: left;
    width: 100px;
    height: 50px;
    background-color: blue;
}

/* 第五題 */
.wrap5 {
    background-color: #999;
    color: #ffffff;
    width: 100%;
    display: inline-block;
}

.wrap5 .box1 {
    width: 100px;
    height: 50px;
    background-color: red;
    margin-top: 10px;
}

/* 第六題 */
.wrap6 {
    background-color: #999;
    color: #ffffff;
    width: 100%;
    height: 60px;
    position: relative;
}

.wrap6 .box1 {
    /* z-index: 1; */
    position: absolute;
}

.wrap6 .box1 .top {
    z-index: 99999;
    position: absolute;
    background-color: red;
    color: #ffffff;
    width: 50px;
    height: 50px;
}

.wrap6 .box2 {
    z-index: 2;
    position: absolute;
    background-color: blue;
    color: #ffffff;
    width: 60px;
    height: 60px;
}

/* 第七題 */
.wrap7 {
    background-color: #999;
    color: #ffffff;
    width: 100%;
}

.wrap7 .box1 {
    width: 100px;
    height: 50px;
    background-color: red;
}

.wrap7 .box2 {
    width: 100px;
    height: 50px;
    background-color: blue;
}